@{
    ViewBag.Title = "Home Page";
}


<h2>Chat</h2>
<div class="container">
    <table>
        <tr>
            <td>  <input type="text" id="textmessage" value=" " class="form-control form-control-lg" /></td>
            <td> <input type="button" id="sendmessage" value="Send" class="btn btn-primary mb-2" /></td>
        </tr>
    </table>
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>
